.App {
  text-align: center;
  color: black;
}

body {
  background-color:rgb(179, 123, 132);
  color: black;
   /*padding:25px 50px 75px 100px;*/
  overflow-x:hidden;
  font-family: Arial;
  text-align: center;
}
.title {
  font-size: 100px
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.menulist {
  text-align:center;
  padding: 0;
  overflow-x:hidden;
  margin: 0;
  list-style-type: none;
}

.menuitem {
  float:left;
  display:block;
  padding:16px
}

.menu {
  text-align:center;
  float:top;
  border-radius: 5px;
  border-style: solid;
  margin: 0px 1px 0px 0px;
  background-color: rgb(171, 223, 130);
}
.Bar {
  text-align:center;
  float:left;
  flex:1;
  padding: 20px;
  border-radius: 5px;
  border-style: solid;
  margin:  10px 30px 30px 0px;
}
.widgets {
  text-align:center;
  display:flex;
  float:top;
  border-radius: 5px;
  border-style: hidden;
  margin:  30px 1px 50px 10px;
}

.frontpageimage {
  text-align:center;
  display:flex;
  float:top;
  border-radius: 5px;
  border-style: hidden;
  margin: 10px;
  padding:0px 0px 0px 30px;
}
.image {
  max-width:1000px;
  max-height: 500px;
  flex:1;
  margin:10px 30px 30px 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
